.list{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    background: linear-gradient(120deg, #2980b9, #ae97b8);
    font-family: "Courier New", Courier, monospace;
    padding-top:20px;
    padding-bottom: 20px;
  }